@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');
body{
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}

#container{
    margin-top: 4rem;
}
input{
    display : block;
    margin : 1rem auto;
    border: 1px solid purple;
    border-radius: 0.5rem;
    width: 200px;
    height: 2rem;
}

label{
    display : block;
    margin : 1rem auto;
}

button{
    color: white;
    background-color: purple;
    border: 1px solid purple;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#output-text{
    font-weight: bolder;;
}
